### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/.idea/misc.xml
/.idea/modules.xml
/paperrockscissors.iml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/encodings.xml
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/.gitignore
/target/surefire-reports/com.hw.rockpaperscissors.game.engine.HandProcessorTest.txt
/target/surefire-reports/com.hw.rockpaperscissors.game.engine.RockPaperScissorsEngineEngineTest.txt
/target/surefire-reports/com.hw.rockpaperscissors.game.impl.SimpleGameTest.txt
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/classes/com/hw/rockpaperscissors/game/Game.class
/target/classes/com/hw/rockpaperscissors/console/GameConsole$1.class
/target/classes/com/hw/rockpaperscissors/console/GameConsole.class
/target/classes/com/hw/rockpaperscissors/game/exceptions/GameEngineException.class
/target/classes/com/hw/rockpaperscissors/game/factory/GameFactory.class
/target/classes/com/hw/rockpaperscissors/game/model/GameHand.class
/target/classes/com/hw/rockpaperscissors/game/engine/generator/GameHandGenerator.class
/target/classes/com/hw/rockpaperscissors/game/model/GameResult$GameResultBuilder.class
/target/classes/com/hw/rockpaperscissors/game/model/GameResult.class
/target/classes/com/hw/rockpaperscissors/game/model/GameResultEnum.class
/target/classes/com/hw/rockpaperscissors/game/engine/HandProcessor.class
/target/classes/com/hw/rockpaperscissors/game/exceptions/HandProcessorException.class
/target/test-classes/com/hw/rockpaperscissors/game/engine/HandProcessorTest.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/classes/com/hw/rockpaperscissors/game/engine/RockPaperScissorsEngine.class
/target/test-classes/com/hw/rockpaperscissors/game/engine/RockPaperScissorsEngineEngineTest.class
/target/classes/com/hw/rockpaperscissors/game/impl/SimpleGame.class
/target/classes/com/hw/rockpaperscissors/game/factory/impl/SimpleGameFactory.class
/target/test-classes/com/hw/rockpaperscissors/game/impl/SimpleGameTest.class
/target/surefire-reports/TEST-com.hw.rockpaperscissors.game.engine.HandProcessorTest.xml
/target/surefire-reports/TEST-com.hw.rockpaperscissors.game.engine.RockPaperScissorsEngineEngineTest.xml
/target/surefire-reports/TEST-com.hw.rockpaperscissors.game.impl.SimpleGameTest.xml
/target/classes/com/hw/rockpaperscissors/game/mapper/UserInputMapper.class
